/* Directivas base de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, #facc15, #fb923c, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background: linear-gradient(to right, rgba(250, 204, 21, 0.1), rgba(251, 146, 60, 0.1), rgba(249, 115, 22, 0.1));
}
.gradient-border-textarea {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #facc15, #fb923c, #f97316);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 20px;
}